*,
::before,
::after {
  padding: 0px;
  margin: 0px;
}


html {
  display: flex;
  flex-direction: column; 
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
}


.calculator {
  display: flex;
  flex-direction: column;
  height: 800px;
  margin: 96px 0px;
  background-color: skyblue;
  border: 20px solid grey;
  border-radius: 5%;
}

.display-area {
  border: 2px solid black;
  margin: 16px;
  height: 96px;
  background-color: olivedrab;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.input-display,
.equation-display {
  color: white;
  font-family: 'Orbitron', sans-serif;
  font-size: 32px;
  margin: auto 6px auto 0px;
}

/* BUTTON CONTAINERS */
.buttons {
  display: flex;
  margin: auto 10px 10px 10px;
}

.top-buttons,
.bottom-buttons {
  display: flex;
  flex-direction: row;
}

.right-buttons {
  display: flex;
  flex-direction: column;
}

.number-buttons {
  display: flex;
  flex-direction: row-reverse;
  flex-wrap: wrap;
  width: 390px;
  height: 390px;
}


/* BUTTONS */
.operator-button {
  box-sizing: border-box;;
  background: goldenrod;
  box-shadow: darkgoldenrod 2px 2px 1px;
  height: 120px;
  width: 120px;
  margin: 5px;
  border-radius: 7%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  font-size: 32px;
  text-shadow: black 2px 2px;
}

.function-button {
  box-sizing: border-box;
  background: darkslategrey;
  box-shadow: black 2px 2px 1px;
  height: 120px;
  width: 120px;
  margin: 5px;
  border-radius: 7%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  font-size: 32px;
  text-shadow: black 2px 2px;
}

.num-button {
  box-sizing: border-box;
  background: teal;
  box-shadow: darkslategrey 2px 2px 1px;
  height: 120px;
  width: 120px;
  margin: 5px;
  border-radius: 7%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  font-size: 32px;
  text-shadow: black 2px 2px;
}

.zero-button {
  width: 250px;
}